@media (max-width: 1200px) {
    .new-img {
       margin-left: 140px;;
    }
    .contacts {
        background-color: var(--bg-purple);
    }
    .contacts-img {
        display: none;
    }
    .contacts-title {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .color-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .color-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .new-img {
        display: none;
    }
    .color {
        padding-bottom: 50px;
    }
    .contacts-form {
        padding: 50px 90px;
    }
    .new-text p,
    .new-text b {
        max-width: 100%;
    }
}

@media (max-width: 940px) {
    .menu-btn {
        display: inline-block;
        order: 1;
        width: 50px;
        height: 50px;
        background-color: transparent;
        position: relative;
        z-index: 50;
    }
    .logo,
    .phone {
        position: relative;
        z-index: 60;
    }
    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all 0.2s ease;

    }
    .btn-line:nth-child(1) {
        top: 0;
    }
    .btn-line:nth-child(2) {
        top: 20px;
    }
    .btn-line:nth-child(3) {
        top: 20px;
    }
    .btn-line:nth-child(4) {
        top: 40px;
    }
    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--menu-black);
        row-gap: 50px;
        transform: translateY(-100%);
        transition: all 0.3s ease;
    }
    .menu-open .menu {
        transform: translateY(0%);
    }
    .menu-item {
        font-size: 48px;
    }
    .phone {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .headline,
    .new {
        padding: 50px 0;
    }
}

@media (max-width: 650px) {
    .contacts-form {
        padding: 40px;
    }
    .footer-inner {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 34px;
    }
    .new-title,
    .color-title {
        font-size: 26px;
    }
    .headline-btn {
        font-size: 18px;
        padding: 16px 90px;
    }
    .color-item {
        width: 100%;
    }
    .color-item img {
        width: 80%;
    }
    .contacts-form {
        padding: 30px;
    }
    .contacts-title {
        font-size: 24px;
    }
}
    @media (max-width: 420px) {
    .color-item img {
        width: 100%;
    }
    .contacts-form {
        padding: 20px 15px;
    }
    .phone {
        font-size: 16px;
    }
}